body {
	background: white !important;
	color: black !important;
}

* {
	color: black !important;
}

.mapdiv {
	width: 100%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.marker{
	font-size: 20px;
}
.marker a:hover{
	color:black !important;
}

input
{
	text-decoration:none;
	background-color: white;
	color: black;

	padding: 10px 30px 10px 30px;
	font-size:16px;
	font-weight:bold;
	border-radius:2px;

	-webkit-transition:all linear 0.30s;
	-moz-transition:all linear 0.30s;
	transition:all linear 0.30s;

}

input:hover
{
	opacity: 0.8;
	color: gray !important;
}